@media(min-width: 768px)
{
	.wd1{
		display:block!important;
	}
	.wd2{
		display:none!important;
	}
}
@media(max-width: 767px)
{
	.wd2{
		display:block!important;
	}
	.wd1{
		display:none!important;
	}
}